body {

}

#info {
	position: fixed;
	display:none;
	text-align: center ;
	width:100%;
}

#content_cat {
	width: 100%;
	display: table;
}

#tab_cat {
	width: 100%;
	display: table;
	padding: 2px;
	margin-bottom: 2px;
	border-bottom:1px solid #000000;
}

#tab_cat img{
	width:95%;
	height: 70%;
}

.btn_main {
	float:left;
	display: table-cell;
	vertical-align: middle;
	width:100px;
	height:50px;
	margin: 2px;
	padding:5px;	
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	
	-moz-box-shadow:2px 2px 0 #000000;
	-webkit-box-shadow:2px 2px 0 #000000;
	box-shadow:2px 2px 0 #000000;

	text-align:center;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.7);
}

.btn_cat {
	background-color:blue;
	color:#4A4A4A;
	font-size:10px;
	font-weight:bold;
}

.div_prod img{
	width:95%;
	height: 70%;
}
.btn_prod {
	background-color:#49AFCD;
	color:#003580;
	font-size:10px;
	font-weight:bold;
}

/* admin */

.list .btn {
	margin-left: -15px;
    margin-right: 5px;
}

#image_img {
	width: 200px;
	height: 100px;
}
